
.header {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  border-bottom: 0.1rem solid var(--color-input-border);
  top: 0;
  z-index: -1;
  background-color: var(--color-background);
}

.navigation {
  transition: var(--transition-timing);
}

.navigation__list {
  display: flex;
  gap: 2rem;
}
.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}
.navigation__link:hover,
.navigation__link:active {
  text-decoration: underline;
  color: var(--color-text);
}
.active {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}

.container:has(#bio:target) .navigation__bio,
.container:has(#skills:target) .navigation__skills,
.container:has(#media:target) .navigation__media,
.container:has(#projects:target) .navigation__projects,
.container:has(#clients:target) .navigation__clients,
.container:has(#contact:target) .navigation__contact {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-size-18);
}

html:has(.toggle__checkbox:checked)
  .container:has(#bio:target)
  .navigation__bio,
html:has(.toggle__checkbox:checked)
  .container:has(#skills:target)
  .navigation__skills,
html:has(.toggle__checkbox:checked)
  .container:has(#media:target)
  .navigation__media,
html:has(.toggle__checkbox:checked)
  .container:has(#projects:target)
  .navigation__projects,
html:has(.toggle__checkbox:checked)
  .container:has(#clients:target)
  .navigation__clients,
html:has(.toggle__checkbox:checked)
  .container:has(#contact:target)
  .navigation__contact {
  color: var(--color-green);
}


.burger-menu__checkbox {
  display: none;
}

/* End Global Style */
/* Start Toggle */
.toggle {
  display: flex;
  gap: 1rem;
  /* WOW */
  margin-left: auto;
}
.toggle__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-18);
}
.toggle__checkbox {
  display: none;
}
.toggle__label {
  display: block;
  position: relative;
  background-color: var(--color-black);
  border-radius: 1.5rem;
  width: 4.5rem;
  height: 2.2rem;
  cursor: pointer;
  padding: 0.3rem 0.4rem;
  transition: 0.3s;
}

.toggle__label::after {
  content: "";
  position: absolute;
  background-color: var(--color-white);
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  display: block;
  /* top: 50%;
  transform: translateY(-50%); */
  transition: 0.3s;
}

.toggle__checkbox:checked + .toggle__label {
  background-color: var(--color-white);
}
.toggle__checkbox:checked + .toggle__label::after {
  transform: translateX(2.1rem);
  background-color: var(--color-green);
}
/* End Toggle */